 <h1><%= markdown_to_html @post.title %></h1>


<div class="row">
  <div class="col-md-8">
    <p><%= markdown_to_html @post.body %></p>
  </div>
  <div class="col-md-4">
    <% if policy(@post).edit? %>
      <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %>
    <% if policy(@post).edit? && @post.summary.blank? %>
      <p> You don't have a Summary, make one!</p>
      <%= render partial: 'summaries/create', locals: { topic: @topic, post: @post, summary: Summary.new(post_id: @post.id)} %>
    <% else %>
      <%= link_to "Summary", topic_post_summary_path(@topic, @post), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
