<!DOCTYPE html>
<html>
  <head>
    <title>Bloccit</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
     <div class="container">
       <ul class="nav nav-tabs">
        <li><%= link_to "Bloccit", welcome_index_path %></li>
        <li><%= link_to "About", welcome_about_path %></li>
      </ul>

      <%= yield %>


     </div>
     
  </body>
  <footer>
  <div class="container">
    <ul class="social-btn">
      <li><%= link_to "Facebook", "https://www.facebook.com/jonathan.daves",  class: "social-btn" %></li>
      <li><%= link_to "Google Plus", "https://plus.google.com/+JonathanDaves/posts", class: "social-btn" %></li>
      <li><%= link_to "LinkedIn", "https://www.linkedin.com/in/jonathandaves", class: "social-btn" %></li>
    </ul>
    </div>
  </footer>
</html>